doctype 5
html
  head
    title= title
    script(src='javascripts/lib/jquery-1.9.1.js')
    script(src='javascripts/lib/jquery-ui-1.9.0.custom.min.js')
    script(src='javascripts/lib/leaflet.js')  
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/lib/L.Control.Locate.js')
    script(src='javascripts/tc.flickr.view.js')
    script(src='javascripts/tc.main.view.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/L.Control.Locate.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css') />
  body
    block content
