doctype 5
html
  head
    title= title
    script(src='javascripts/jquery-1.9.1.js')
    script(src='javascripts/jquery-ui-1.9.0.custom.min.js')
    script(src='javascripts/leaflet.js')  
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/L.Control.Locate.js')
    script(src='javascripts/main_client.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/L.Control.Locate.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css') />
  body
    block content
