.leaflet-bar-part-single {
	-webkit-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	border-bottom:none;
}
.leaflet-touch .leaflet-bar-part-single {
	-webkit-border-radius:7px 7px 7px 7px;
	border-radius:7px 7px 7px 7px;
	border-bottom:none;
}
.leaflet-control-locate a {
	background-image:url(../images/locate.png);
}
.leaflet-control-locate.requesting a {
	background-image:url(../images/spinner.gif);
}
.leaflet-control-locate.active a {
	background-image:url(../images/locate_active.png);
}
.leaflet-control-flickr a {
	background-image:url(../images/flickr_box.png);
	 background-size: cover;
    background-repeat: no-repeat;
}
.leaflet-control-flickr.requesting a {
	background-image:url(../images/flickr_press.png);
}
.leaflet-control-flickr.active a {
	background-image:url(../images/flickr_press.png);
}