<div class="input-append">
	   {{input id="search-box" type="text" class="typeahead"  value=searchText placeholder="What's happening around you? Places, Streets .."}}
	   <div class="pull-right">
		   <button  type="submit" class="btn"><i id="search-icon" class="icon-search"> Search</i></button>
	   </div>
</div>
<ul>
      {{#each searchResults}}
        <li>{{this}}</li>
      {{/each}}
</ul>