
<div id="listView"class="tab-pane">
<!--<div id="banner"> 
					</div>
-->

<!--start: Container -->
	<div class="container">
	
		<!--start: Wrapper-->
		<div id="wrapper">
			
			<div id="filters">
				<ul class="option-set" data-option-key="filter">
					<li><a href="#filter" class="selected" >All</a></li>
					<li>/</li>
					<li><a href="#filter" >Near</a></li>
					<li>/</li>
					<li><a href="#filter" >Popular</a></li>
					<li>/</li>
					<li><a href="#filter" >Surprise</a></li>
					<li>/</li>
					<li><a href="#filter" ">Friends</a></li>
				</ul>
			</div>
				
				
			<!-- start: Wall -->
			<div id="wall" class="row-fluid">

							


				  {{#each content in reverse}}
				  	
						 {{view App.TweetView contentBinding="content"}}
						

				  {{!  {{content.tweet.from_user}}{{!</strong></a> {{}}
				  {{else}}
				    loading latest Tweets ...
				  {{/each}}
				

			</div>
		</div>
</div>
</div>
<div class="footer">
				<p>
					&copy; Ambiesense
				</p>
			</div>
{{!
					<ul class="thumbnails">
						<li class="span4">
							<div class="thumbnail section">
								<img src="http://cdn.londonandpartners.com/visit/london-organisations/houses-of-parliament/63950-640x360-london-icons2-640.jpg" alt="300x200" style="">
								<div class="caption">
									<h3>Westmister</h3>
									<p>
										Ipsum ipsum ipsumi psum ipsumip sumip sumips umipsum
										ipsum ipsumi psum ipsumip sumip.
									</p>
									<p>
										<a href="#" class="btn btn-primary">Visit now!</a><a href="#"
										class="btn">Later...</a>
									</p>
								</div>
							</div>
						</li>
						<li class="span4">
							<div class="thumbnail section">
								<img src="http://www.swiftcars.co.uk/DesktopModules/SC_ImageGallery/Data/Modules/module_524/Images/londonlight.jpg" alt="300x200" style="">
								<div class="caption">
									<h3>Tower of London</h3>
									<p>
										Ipsum ipsumi psum ipsumip sumip.
									</p>
									<p>
										<a href="#" class="btn btn-primary">Visit Now!</a><a href="#"
										class="btn">Later...</a>
									</p>
								</div>
							</div>
						</li>
						<li class="span4">
							...
						</li>
					</ul>
					}}