
<div class="tab-pane">
<div id="banner">

					</div>

					<h3>List <small>Scroll, find or filter!</small></h3>

					<ul class="thumbnails">
						<li class="span4">
							<div class="thumbnail section">
								<img src="http://cdn.londonandpartners.com/visit/london-organisations/houses-of-parliament/63950-640x360-london-icons2-640.jpg" alt="300x200" style="">
								<div class="caption">
									<h3>Westmister</h3>
									<p>
										Ipsum ipsum ipsumi psum ipsumip sumip sumips umipsum
										ipsum ipsumi psum ipsumip sumip.
									</p>
									<p>
										<a href="#" class="btn btn-primary">Visit now!</a><a href="#"
										class="btn">Later...</a>
									</p>
								</div>
							</div>
						</li>
						<li class="span4">
							<div class="thumbnail section">
								<img src="http://www.swiftcars.co.uk/DesktopModules/SC_ImageGallery/Data/Modules/module_524/Images/londonlight.jpg" alt="300x200" style="">
								<div class="caption">
									<h3>Tower of London</h3>
									<p>
										Ipsum ipsumi psum ipsumip sumip.
									</p>
									<p>
										<a href="#" class="btn btn-primary">Visit Now!</a><a href="#"
										class="btn">Later...</a>
									</p>
								</div>
							</div>
						</li>
						<li class="span4">
							...
						</li>
					</ul>
				</div>
</div>