


<header>
		
		<!--start: Container -->
		<div class="container">
			
			<!--start: Navigation -->
			<div class="navbar navbar-inverse">
	    		<div class="navbar-inner">
			          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			            		<span class="icon-bar"></span>
			            		<span class="icon-bar"></span>
			            		<span class="icon-bar"></span>
			          		</a>
							<a class="brand" href="#">AmbieCities</a>

					
							<div class="nav-collapse collapse">
								
								<ul class="nav nav-pills pull-right">

									<li class="active">
										<a {{action "goToMap"}} data-toggle="tab">Map</a>
									</li>

									<li>
									    <a {{action "goToList"}} data-toggle="tab">List</a>
									</li>

									<li>
										<a {{action "locatedMe"}} ><i class="icon-globe"></i></a>
									</li>

								</ul>
								<div id="searchBar" class="nav span5 pull-center">
										
						   				{{render "autocomplete" }}

								</div>				
								

							</div>
							<!--end: Collapse Menu -->
														
	          	</div>
	        </div>
	      		
			<!--end: Navigation -->
			
		</div>
		<!--end: Container-->			
			
	</header>
<!--end: Header-->